/target

# Swift Package Manager
/macos/.build
/macos/.swiftpm
/shared/ConnectKit/.build
/shared/ConnectKit/.swiftpm
/shared/ConnectKit/MessagingCoreFFI.xcframework
/shared/ConnectKit/Sources/MessagingCore
/ios/.build
/ios/.swiftpm
/ios/Connect.app
.DS_Store

# Android / Gradle
/android/.gradle
/android/.kotlin
/android/build
/android/app/build
/android/app/generated
/android/app/src/main/jniLibs
/android/local.properties
